<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>An application to do funny things with log files</display-name>


    <servlet>
        <servlet-name>filter</servlet-name>
        <servlet-class>com.crudetech.sample.logcrunch.http.FilterLogFileServlet</servlet-class>

        <init-param>
            <param-name>configurationResource</param-name>
            <param-value>logfilter-logcrunch.xml</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>listFiles</servlet-name>
        <servlet-class>com.crudetech.sample.logcrunch.http.ListLogFilesServlet</servlet-class>

        <init-param>
            <param-name>configurationResource</param-name>
            <param-value>listLogFiles-logcrunch.xml</param-value>
        </init-param>
    </servlet>


    <servlet-mapping>
        <servlet-name>filter</servlet-name>
        <url-pattern>/logcrunch/filter</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>listFiles</servlet-name>
        <url-pattern>/logcrunch/list</url-pattern>
    </servlet-mapping>

</web-app>
