<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>filter</servlet-name>
        <servlet-class>com.crudetech.sample.logcrunch.http.LogCrunchFilterServlet</servlet-class>

        <init-param>
            <param-name>searchPath</param-name>
            <param-value>C:\Users\Andy\AppData\Local\Temp\logcrunch</param-value>
        </init-param>

        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>logLineFormat</param-name>
            <param-value>yyyy-MM-ss hh:mm:ss</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>filter</servlet-name>
        <url-pattern>/logcrunch/filter</url-pattern>
    </servlet-mapping>


</web-app>
